<div class="container">

  <div *ngIf="serie">
    <div class="row">
      <div class="col-sm-12">
        <div class="card mt-5 mb-5">
          <div class="card-header">
            {{ serie.name }}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <img src="https://image.tmdb.org/t/p/w500/{{ serie.poster_path }}"  class="img-fluid" alt="{{ serie.title }}">
              </div>
              <div class="col-sm-7">
                <ul class="list-group">
                  <li class="list-group-item">
                    <strong>Date de sortie: </strong> {{ serie.first_air_date | date:'dd-MM-yyyy' }}
                  </li>
                  <li class="list-group-item">
                    <strong>Résumé: </strong> {{ serie.overview }}
                  </li>
                  <li class="list-group-item">
                    <strong>Nombre de saison: </strong> {{ serie.number_of_seasons }}
                  </li>
                  <li class="list-group-item">
                    <strong>Avis des utilisateurs: </strong> {{ serie.average }}
                  </li>
                  <li class="list-group-item">
                    <strong>Genre: </strong>
                    <span *ngFor="let genre of serie.genres" class="badge badge-primary mr-2">
                      {{ genre.name }}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- /.card -->
      </div>
    </div>
  </div>

</div>

