<div class="row">

  <div class="col-sm-4" *ngFor="let serie of seriePopulaire; let i = index">

      <div *ngIf="i<18">

          <div class="card mt-3 mb-3">

              <div class="card-header text-center">

                {{serie.first_air_date | date:"dd MMMM yyyy"}}

              </div>

              <div class="card-body">

                  <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{serie.poster_path}}" style="height: 460px">
                  <p class="text-center">{{ serie.name }}</p>
                  <a routerLink="/detail-serie/{{serie.id}}" class="btn btn-block btn-info" (click)="getSerieApiId(serie.id)">Details</a>
              </div>

          </div>

      </div>

  </div>

</div>
