<div class="row">

  <div class="col-sm-4" *ngFor="let film of seriePopulaire; let i = index">

      <div *ngIf="i<18">

          <div class="card mt-3 mb-3">

              <div class="card-header text-center">

                {{serie.release_date | date:"mediumDate"}}

              </div>

              <div class="card-body">

                  <img class="card-img-top img-fluid" src="https://image.tmbd.org/t/p/w500/{{serie.poster_path}}" alt="{{serie.original_title}}" style="height: 460px">
                  <p class="text-center">{{ serie.original_title }}</p>
                  <a routerLink="/serie/{{ serie.id }}" href="#" class="btn btn-block btn-info">Serie Details</a>
              </div>

          </div>

      </div>

  </div>

</div>
