<button (click)="getFavFilms()">Charger les films</button>
<button (click)="getFavSeries()">Charger les séries</button>

<div class="row">
  <div  class="col-sm-4" *ngFor="let film of favFilms; let i = index">
    <div *ngIf="i < 18">
      <div class="card mt-3 mb-3">
        <div class="card-header text-center">
          {{ film.releaseDate}}
        </div>
        <div class="card-body">
          <img class="card-img-top img-fluid" src="{{ film.posterLink }}" style="height: 400px">
          <p class="text-center">{{film.title}}</p>
          <a routerLink="/detail-film/{{film.idFilm}}" class="btn btn-block btn-info" (click)="getFilmApiId(film.idFilm)">Details</a>
          <button (click)="deleteFavori(film.id,'film')" class="btn btn-block btn-info" >Supprimer le favori</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4" *ngFor="let serie of favSeries; let i = index">
    <div *ngIf="i<18">
      <div class="card mt-3 mb-3">
        <div class="card-header text-center">
          {{serie.releaseDate | date:"mediumDate"}}
        </div>
        <div class="card-body">
          <img class="card-img-top img-fluid" src="{{serie.posterLink}}" style="height: 400px">
          <p class="text-center">{{ serie.title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

